@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body{
    background-color: skyblue;
}
.halo {
    color: #fff;
}
.slemek {
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 65px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
.slemek:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
.slemek:focus {
    outline: none;
  }
  
.slemek {
    background-image: linear-gradient(
      to right,
      #25aae1,
      #4481eb,
      #04befe,
      #3f86ed
    );
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
  }
.kaver {
    margin-top: 300px;
    align-items: center;
    text-align: center;
}
.container {
    display: flex;
    justify-content: flex-end   ;
    width: 100%;
    height: 60px;
    background-color: #2E93A9;

}
.container a {
    text-decoration: none;
    color: black;
    letter-spacing: 3px;
    padding: 1%;
    display: inline-block;
}
.container a:hover{
    background-color: white;
    color: darkgray;
    transition: 0.2s;
}
.gambar  {
    cursor: pointer;
    padding-top: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.gambar:hover {
    filter: drop-shadow(0 0 30px #333);
    transition: 0.2s;
}
.fotodesk h1 {
    display: block;
    text-align: center;
}
.fotodesk p {
    text-align: center;
    font-weight: 700;
}
.fotodesk h1:hover {
    color: darkgray;
    transition: 0.2s;
}

.overview{
    margin-left: 20px;
}


.skill {
    background-color: cadetblue;
}
.tabel {
    margin-top: 1%;
    margin-bottom: 5%;
    margin-left: 20px
}

.tabel:hover{
    filter: drop-shadow(0 0 10px #333);
}
ul.pengalaman{
    list-style: none;
    text-decoration: none;
}

.kopikanan {
    width: 100%;
    height: 90px;
    padding-top: 60px;
    background-color: #62CBE2;
    text-align: center;
    font-weight: 500;
}

form input, textarea{
    border-radius: 10px;
    border: none;
    background-color: lightcyan;
    padding: 10px;
}
form {
    margin-left: 33%;
}
.kontak {
    margin-left: 43%;
}
.pembungkus {
    margin-bottom: 20px;
    width: 500px;
    height: 500px;
    position: relative;
    background-color: #2E93A9;
    border-radius: 50px;
    border: 3px solid black;
}
.bungkus2 {
    align-items: center;
    margin: auto;
    position: absolute;
    left: 150px;
    top: 50px;
}

button {
    cursor: pointer;
    margin-bottom: 9%;
    background-color: darkblue ;
    border: none;
    color: white;
    text-decoration: none;
    padding: 15px 32px;
    border-radius: 20px;
}
button:hover{
    color: black;

}
.kopikanan2 {
    width: 100%;
    height: 90px;
    padding-top: 60px;
    background-color: #62CBE2;
    text-align: center;
    font-weight: 500;
    
}
.perkenalan {
    text-align: center;
    margin-left: 60px;
    
}
.kopikanan3 {
    width: 100%;
    height: 90px;
    padding-top: 60px;
    background-color: #62CBE2;
    text-align: center;
    font-weight: 500;
}
.vid {
    margin-bottom: 1%;
    margin-top: 1%;
    text-align: center;
    border : 5px solid black;
    width: fit-content;
    
}

/*mobile responsive*/ 

@media screen and (max-width: 600px) {

    .container {
        font-size: 13px;
        text-align: center;
        justify-content: space-between;
        align-items: center;
        padding: 0 5px;
        
    }
    .overview {
        font-size: 14px;
    }
    .tabel {
        width: 90%;
        font-size: 14px;
        margin-bottom: 40px;
    }
    
    form{
        width: 100px;
    }
    .kontak {
        margin-left: 25%;
    }

    .pembungkus {
        width: 250%;
        right: 50px;
    }
     
    .bungkus2 {
        align-items: center;
        margin: auto;
        position: absolute;
        left: 10px;
        top: 50px;
    }
    .perkenalan {
        font-size: 15px;
        justify-content: center;
        margin-right: 19px;
        text-align: left;
    }
     form input, textarea{
        width: 90%;
    }

}

